internship program/node red flow code/flows.json
[{"id":"4fee14f3.43332c","type":"watson-conversation-v1","z":"78b599c9.eebb78","name":"","workspaceid":"1ae2c4da-4015-43c0-ad53-dc1d9590df62","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/f77f65d7-f762-40c6-8b24-1e8e2577bf18","timeout":"","optout-learning":false,"x":320,"y":160,"wires":[["9d477f83.be18b","5ab9660a.0a8db8"]]},{"id":"954aa633.4024a8","type":"ui_form","z":"78b599c9.eebb78","name":"","label":"","group":"c587144b.d5a3f8","order":0,"width":0,"height":0,"options":[{"label":"Customer Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":300,"wires":[["a5da860d.da2338"]]},{"id":"84e94d41.7942f","type":"ui_text","z":"78b599c9.eebb78","group":"c587144b.d5a3f8","order":1,"width":"0","height":"0","name":"","label":"Customer Input","format":"{{msg.payload}}","layout":"row-spread","x":280,"y":320,"wires":[]},{"id":"3cc8224f.dc0afe","type":"ui_text","z":"78b599c9.eebb78","group":"11a283ae.4bc55c","order":2,"width":"11","height":"12","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":340,"wires":[]},{"id":"a5da860d.da2338","type":"function","z":"78b599c9.eebb78","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["84e94d41.7942f","4fee14f3.43332c"]]},{"id":"9d477f83.be18b","type":"debug","z":"78b599c9.eebb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":140,"wires":[]},{"id":"5ab9660a.0a8db8","type":"function","z":"78b599c9.eebb78","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["3cc8224f.dc0afe"]]},{"id":"c587144b.d5a3f8","type":"ui_group","z":"","name":"Input","tab":"1d3856a.c4a32a9","order":1,"disp":true,"width":"9","collapse":false},{"id":"11a283ae.4bc55c","type":"ui_group","z":"","name":"Bot Response","tab":"1d3856a.c4a32a9","order":2,"disp":true,"width":"11","collapse":false},{"id":"1d3856a.c4a32a9","type":"ui_tab","z":"","name":"Intelligent Customer Help Desk with Smart Document Understanding","icon":"dashboard","disabled":false,"hidden":false}]